* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin: 20px 0 20px 0;
}

button {
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #808080;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.navigations {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 250px;
    gap: 10px;
}

.utils-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    gap: 10px;
}

#filename {
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 5px;
}